<!DOCTYPE html>
<html>
<head>
  <script
  src="http://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>





  <meta charset="utf-8">

  <title>Weather App</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container sectionCity">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <form class="form-inline" action="add">
          <div class="form-group">
            <label for="city">Ville</label>
            <input type="text" name="nameVille" class="form-control" id="city" placeholder="Lyon, Paris ...">
          </div>
          <button type="submit" id="btn-valide" class="btn btn-warning">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
  <div id="content">

  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <ul class="list-group" id="sortable">
          <% for(var i=0; i<cityList.length; i++){%>
            <li id="<%=i%>" class="list-group-item ui-state-default ui-icon ui-icon-arrowthick-2-n-s">
            <span class="city"><%= cityList[i].name %></span>
            <img class="logo-meteo" src=<%= cityList[i].iconemeteo %>
            <span class="desc"><%= cityList[i].desc %></span>
            <span class="label label-warning"><%= cityList[i].tempmax %></span>
            <span class="label label-default"><%= cityList[i].tempmin %></span>
            <a href="/suppr?indice=<%=i%>"><span class="glyphicon glyphicon-remove-circle"></span></a>
            </li>
          <% } %>

        </ul>
      </div>
    </div>
  </div>

  <script>
  $( "#sortable" ).sortable({
    update: function( event, ui ) {
      var sortedIDs = $( "#sortable" ).sortable( "toArray" );
      var sortedIDsstring = JSON.stringify(sortedIDs);
        /// envoi de l'URL au server
      $.getJSON("http://localhost:8080/move?newposition="+sortedIDsstring, function(data) {
        });
          /// Boucle each qui écrase les id de chaque li à chaque déplacement
          $("li").each(function(i){
            $(this).attr("id",i);
            $(this).find("a").attr("href","/suppr?indice="+i);
          });
          //////////////////////////////////////////////////////
    }
  });
  </script>

</body>
</html>
